@import "./scss/main.scss";
//  ---------------------------------------------------------------------------
//                                     Main
//  ---------------------------------------------------------------------------

* {
  font-family: "Noto Sans";
  font-size: 16px;
}

tooltip {
  * {
    all: unset;
  }

  background-color: transparent;
  border: none;

  > * > * {
    background-color: $background;
    border-radius: 8px;
    border: $border;
    color: $foreground;
    padding: 10px;
    margin: 4px;
  }
}


