@import "themes/colorsDark.scss";

$shadow_color: #8e9cd3;

$hover: lighten($background, 5%);

$background2: lighten($background, 10%);
$background3:transparentize($color: $background, $amount: 0.5);
$background4: lighten($hover, 30%);

$box_shadow: 1px 1px 2px 0 $shadow_color;
