.control_panel {
  .panel {
    background-color: $background;
    box-shadow: $box_shadow;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    .toggle-button {
      border-radius: 8px;
      min-width: 120px;
      min-height: 44px;
      color: $foreground;
      font-weight: 600;

      label {
        margin-left: 10px;
      }

      button {
        all: unset;
        border-radius: 8px;
        color: $foreground;
        background-color: $background2;
        background-image: none;
        box-shadow: none;

        &:hover {
          background-color: $background4;
        }

        &:first-child {
          padding: 12px;
          min-width: 100px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          padding: 6px;
          min-width: 20px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          margin-left: 2px;
        }
      }
      .active{
        background-color: transparentize($color: $background4, $amount: 0.3);
      }
    }
    .sliders {
      background-color: $background2;
      border-radius: 10px;
    }
    .sliderContainer {
      color: $foreground;
      border-radius: 6px;
      image {
        font-size: 20px;
      }
      image,
      label {
        padding: 5px;
      }
      scale {
        all: unset;
        trough {
          all: unset;
          transition: 200ms;
          border-radius: 10px;
          background-color: $background;
          min-height: 10px;
          min-width: 5px;
  
          highlight,
          progress {
            all: unset;
            background-color: $blue;
            border-radius: 20px;
            min-height: 5px;
            min-width: 5px;
          }
        }
  
        slider {
          all: unset;
          box-shadow: none;
          background-color: transparent;
          border: 1px solid transparent;
          transition: 200ms;
          border-radius: 10px;
          min-height: 12px;
          min-width: 12px;
          margin: -4px;
        }
  
        &:hover {
          slider {
            background-color: $foreground;
          }
        }
      }
      .arrow {
        all: unset;
        border-radius: 5px;
        &:hover {
          background-color: $background4;
        }
      }
    }
    .menu {
      all: unset;
      color: $foreground;
      margin-top: 10px;

      button {
        all: unset;
        transition: 200ms;
        border-radius: 5px;
        color: $foreground;
        margin: 4px;
        padding: 3px;
        background-color: transparent;

        &:hover {
          background-color: $background4;
        }
        image {
          font-size: 20px;
        }
      }
      .bluetooth-devices {
        switch {
          all: unset;
          background-color: $background2;
          border-radius: 20px;
          margin: 2px 5px;
          slider {
            all: unset;
            margin: 2px;
            min-width: 20px;
            min-height: 5px;
            background-color: $background2;
            border-radius: 20px;
          }
          image {
            color: $blue;
          }
          &:hover {
            border-radius: 20px;
          }
          &:checked {
            background-color: $foreground;
            image {
              color: $foreground;
            }
          }
        }
      }
      .bt_name,
      .bt_icon {
        margin: 0 10px;
      }
    }
    .volume-indicator {
      all: unset;
      border-radius: 5px;
      color: $foreground;
      margin: 4px;
      padding: 2px;
      background-color: transparent;

      &:hover {
        background-color: $background4;
      }
    }
    .audio {
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
    .panelBtn {
      all: unset;
      border-radius: 8px;
      min-width: 100px;
      min-height: 44px;
      color: $foreground;
      background-color: $background2;
      padding: 0 15px;
      &:hover {
        background-color: $background4;
      }
      &.active{
        background-color: transparentize($color: $background4, $amount: 0.3);
      }
    }
    .color_picker {
      button {
        all: unset;
        border-radius: 20px;
        min-height: 15px;
        min-width: 15px;
        margin: 5px 3px 6px 5px;
        padding: 8px;
        border: 1px solid $foreground;
        &:hover {
          border: 1px solid $blue;
          box-shadow: 1px 1px 3px 1px $blue;
        }
      }
    }
    .tytle {
      label {
        color: $foreground;
        font-weight: 300;
      }
      .avatar {
        padding: 5px;
      }
      .settingsBtn {
        all: unset;
        margin: 0 10px;
        background-color: transparent;
        color: $foreground;
        &:hover {
          color: $background4;
        }
      }
    }
    .radio {
      background-color: $background2;
      color: $foreground;
      border-radius: 10px;
      padding: 10px;
      button {
        border-radius: 8px;
        min-width: 100px;
        min-height: 40px;
        color: $background;
        font-weight: 300;
        background-color: $foreground;
        padding: 0 10px;
        &:hover {
          background-color: $background4;
        }
        &.active {
          color: whitesmoke;
          background-color: $blue;
        }
      }
    }
  }
}
