.media {
  color: $foreground;
  .player {
    min-height: 120px;
    background-color: $background2;
    border-radius: 10px;
    .controls {
      border-radius: 10px 10px 0 0 ;
      background-color: transparentize($background, $amount: 0.2);
      padding: 15px 20px 0 0;
    }
    .cover {
      box-shadow: 2px 2px 2px 0 $foreground;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin: 0 20px 20px 10px;
      background-color: $background;
    }
    .artist{
      color: $foreground;
      font-size: 20px;
      font-weight: 600;
    }
    .title{
      color: $foreground;
      font-size: 18px;
    }
    .position,
    .length {
      font-size: 14px;
    }
    .playerBtn {
      all: unset;
      margin: 10px 5px;
      border-radius: 8px;
      padding: 8px;
      &:hover {
        background-color: $background4;
      }
    }
    scale {
      all: unset;
      border-radius:10px  ;
      margin-top: -8px;
      trough {
        transition: 200ms;
        border-radius: 0 0 10px 10px  ;
        background-color: transparent;
        min-height: 6px;
        min-width: 5px;

        highlight,
        progress {
          border-radius: 0 0 0 10px  ;
          min-height: 8px;
          min-width: 5px;
        }
      }
      slider {
        min-height: 3px;
        min-width: 3px;
      }
    }
  }
}
