.notification_widget {
  all:unset;
  border-radius: 10px;
  color: $foreground;
  padding: 4px;
  .notify_center {
    &:first-child{
      padding: 0;
    }
    .notify_container {
      min-height: 150px;
      .notification {
        all: unset;
        border-radius: 10px;
        background-color: $foreground;
        padding: 5px;
        margin: 5px;
        color: $background;
        .description {
          min-width: 0px;
        }
        label{
          color: $background;
          text-shadow: none;
        }
      }
    }
  }
  .header {
    margin-top: -15px;
    button {
      all:unset;
      padding: 6px;
      border-radius:10px;
      &:hover {
        background-color: $background4;
        color: $foreground;
      }
    }
    icon {
      color: $foreground;
      font-size: 22px;
    }
  }
}
