.app_launcher {
  padding: 5px;
  color: $foreground;
  .app_list {
    box-shadow: $box_shadow;
    background-color: $background;
    border-radius: 10px;
    entry {
      all: unset;
      background-color: $background2;
      border-radius: 20px;
      margin: 10px 20px;
      padding: 5px;
      image {
        margin: 0 10px;
      }
    }
    .scrollable {
      border-radius: 20px;
      min-width: 250px;
      min-height: 280px;
      margin: 10px;
      trough {
        border-radius: 10px;
        background-color: transparent;
        slider {
          min-width: 10px;
          border-radius: 10px;
          background-color: $foreground;
        }
      }
    }
    .app_item {
      all: unset;
      border: $border;
      border-radius: 10px;
      border-color: transparent;
      padding: 5px;
      margin: 0 5px;
      image {
        margin-right: 10px;
      }
      &:hover,
      &:focus {
        color: $background2;
        background-color: $background4;
      }
    }
  }
}
