.screenMenu{
    .bigBtn{
        margin: 10px;
        background-color: transparentize($background, 0.2);
        min-width: 150px;
        min-height: 150px;
        border: $border;
        border-radius: 10px;
        border-color: $background2;
        box-shadow: $box_shadow;
        &:hover{
            background-color: $background4;
        }
        &:focus{
            background-color: $background4;
        }
        .icon{
            color: $foreground;
        }
    }
}