.weekForecast {
  min-width: 300px;
  color: $foreground;
  background-color: $background;
  padding: 10px 5px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: $box_shadow;

  .weatherBtn {
    all: unset;
    background-color: transparent;
    &:hover {
      background-color: $background4;
      border-radius: 10px;
    }
  }
}
.dayForecast {
  all: unset;
  .smallContainer {
    padding: 6px;
    min-width: 75px;
    background-color: transparentize($foreground, 0.1);
    border-radius: 6px;
    color: $background;
    image {
      font-size: 18px;
    }
    label {
      color: $background;
    }
  }
  .feelsLike {
    font-size: 26px;
    font-weight: 900;
  }
}
.weatherOptionsForm {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: $foreground;
  min-width: 300px;
  background-color: $background;
  box-shadow: $box_shadow;
  .weatherOptions {
    background-color: $background2;
    padding: 10px;
    border-radius: 10px;
    label {
      min-width: 60px;
    }
  }
  .saveBtn {
    all: unset;

    background-color: $background2;
    min-width: 100px;
    border-radius: 8px;
    padding: 5px;
    label {
      margin: 0;
    }
    &:hover {
      background-color: $background4;
    }
  }
  .scrollable {
    padding: 10px;
    border-radius: 10px;
    background-color: $background2;
    min-height: 200px;
    trough {
      all: unset;

      border-radius: 10px;
      background-color: transparent;
      slider {
        all: unset;

        min-width: 10px;
        border-radius: 10px;
        background-color: $foreground;
      }
    }
    button {
      all: unset;
      color: $foreground;
      padding: 10px;
      background-color: transparent;
      margin: 5px;
      border-radius: 10px;
      &:hover {
        background-color: $background4;
      }
    }
    label {
      font-size: 12px;
    }
    .cityName {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .searchEntry {
    all: unset;
    min-width: 250px;
    background-color: $background2;
    color: $foreground;
    border-radius: 8px;
    padding: 5px;
    image {
      margin: 0 10px;
    }
  }
}
