.updates {
  padding: 20px;

  .title {
    background-color: $background2;
    box-shadow: $box_shadow;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  .footer {
    all: unset;
    background-color: $background2;
    box-shadow: $box_shadow;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    button{
      all: unset;
      background-color: $background2;
      min-width: 100px;
      border-radius: 8px;
      padding: 5px;
      &:hover {
        background-color: $background4;
      }
    }
  }
  .scrollable {
    min-height: 400px;
    min-width: 600px;
    border-radius: 0%;
    background-color: $background;
    box-shadow: 1px 0px 2px 0 $shadow_color;
    padding: 10px;
  }
  .updates_item {
    all: unset;
    margin: 0 10px;
    min-width: 200px;
    background-color: transparent;
    &:hover {
      background-color: $background4;
      border-radius: 10px;
    }
  }

  .max-width {
    min-width: 200px;
  }
  .min-width {
    min-width: 100px;
  }
  label {
    color: $foreground;
    padding: 5px 10px;
  }
}
.info {
  all:unset;
  .info_box {
    margin: 10px;
    min-width: 400px;
    background-color: $background;
    border: 2px solid $shadow_color;
    padding: 10px;
    border-radius: 10px;
    label {
      color: $foreground;
    }
    .title {
      font-size: 24px;
      margin: 5px;
    }
    .description {
      border-radius: 6px 0 0 6px;
      background-color: $background2;
      margin-right: 2px;
      padding: 10px;
    }
    .size {
      border-radius: 0 6px 6px 0;
      background-color: $background2;
      margin: 2px;
      padding: 10px;
    }
  }
  spinner {
    background-color: $background;
    border: 2px solid $shadow_color;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    min-width: 40px;
    min-height: 40px;
    image{
      color: $foreground;
    };
  }
}
